@using web.Helpers
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-home"></i>
                <span>CRMC Admin</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.IconActionLink("fa fa-ban", "Censors", "Censors", "Home")</li>
                <li>@Html.IconActionLink("fa fa-users", "People", "People", "Home")</li>
                <li>@Html.IconActionLink("fa fa-cog", "Settings", "Settings", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        <span class="navbar-text">
                            Welcome @(ViewData["FullName"])!
                        </span>
                        using (Html.BeginForm("LogOff", "Auth", FormMethod.Post, new { @class = "navbar-text", id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>&nbsp; <span>Logout</span></a>
                        }
                    }
                    else
                    {
                        @Html.IconActionLink("fa fa-login", "Login", "Login", "Auth")
                    }
                </li>
            </ul>
        </div>
    </div>
</div>