@using web.Helpers

<nav class="navbar navbar-default" role="navigation">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CRMC Admin</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.IconActionLink("fa fa-ban", "Censors", "Censors", "Home")</li>
                <li>@Html.IconActionLink("fa fa-users", "People", "People", "Home")</li>
                <li>@Html.IconActionLink("fa fa-cog", "Settings", "Settings", "Home")</li>
                <li>@Html.IconActionLink("fa fa-group", "Users", "Users", "Home")</li>
            </ul>
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <span class="navbar-text">
                                Welcome @(ViewData["FullName"])!
                            </span>
                            using (Html.BeginForm("LogOff", "Auth", FormMethod.Post, new { @class = "navbar-text", id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>&nbsp; <span>Logout</span></a>
                            }
                        }
                        else
                        {
                            @Html.IconActionLink("fa fa-login", "Login", "Login", "Auth")
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</nav>